body,html
{
    margin:0;
    padding:0;
    background-color:rgb(8, 7, 19);
}


header
{
    position:fixed;
    top:0;
    width:100%;
    height: 60px;
    background-color:#282828;
    z-index: 1;
}

#navH1
{
    position:absolute;
    padding:3px;
    float: left;
    margin-left:2%;
    margin-top:10px;
    color: rgb(37, 123, 223);
}

span
{
    color: #ffffff;
}

#navUl
{
    width:auto;
    float:right;
    margin-top:8px;
}

#navLi
{
    display:inline-block;
    padding:15px 30px;
}

#navA
{
    text-align:center;
    color:#ffffff;
    text-decoration: none;
    font-size:1.2vw;
}

#navA:hover
{
    color: #F0c330;
    transition:0.5s;
}


#bodyContainer
{
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-left: 4%;
    width: 90%;
    margin-top: 3.6%;
    /* background-color:rgb(8, 7, 19); */
    background-color: beige;
    border-radius: 25px;
}

.masterBlock
{
    display:block;
    margin:auto;
    white-space: nowrap;
    background-color: red;
    width:50%;
    transform:translate(0%,0%);
    border-radius: 25px;
}
.mainBox
{
    display: block;
    background-color: black;
    font-size: 13px;
}
.textBoxFirstWindow
{
    display:inline-block;
    width: 49.85%;
    background-color: yellow;
}
.textBoxSecondWindow
{
    display:inline-block;
    width: 25%;
    background-color: green;
}